h1 {color:#06283D;}/* CSS Document */
h2 {color:#256D85;}/* CSS Document */
h3 {color:#256D85;}/* CSS Document */
h4 {color:#FF8787;}/* CSS Document */
h5 {color:#FF8787;}/* CSS Document */
h6 {color:#FF8787;}/* CSS Document */
body{
	background-color:#B1B2FF
}
